exportPattern("^[[:alpha:]]+")
export(Depca)
export(Dpca)
export(Drp)
export(Drpca)
export(Drsvd)
export(Dsvd)
export(FPC)
import(matrixcalc)
import(Rdimtools)
import(rsvd)
import(stats)
importFrom(rsvd,rsvd)
importFrom(stats,cov,var)
